# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/

# Environment
.env
.env.*
!.env.example

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat-schedule.db

# Django
*.sqlite3
media/
static/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
